@media screen and (max-width: 768px) {
  .home__cta .container,
  .home__resultados .flex.header,
  .home__resultados .cases,
  .home__processo .tabs_container,
  .home__ctabaixo .container,
  .home__orcamento .form-cols,
  .home__hero .container {
    flex-direction: column;
  }
  .tpl__header {
    a span.text {
      display: none;
    }
  }
  .ttl:after {
    display: none;
  }
  .w75 {
    width: 100%;
  }
  h2.ttl, .home__cta h2, h2 {
    margin-bottom: 2rem;
    font-size: 1.9rem;
  }
  .home__hero {
    text-align: center;
    background-color: #F5F5F5;

    .coli {
      display: none;
    }

    h1 {
      font-size: 2.2rem;

      span.destaq {
        display: inline-block;
        font-size: 1.75rem;
      }
    }

    .container {
      height: 110vh;
    }

    .hero__content {
      padding: 0;
    }
  }
  .home__servicos {
    ul.specs__list {
      gap: 1rem;
      margin-left: 0;
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;

      li {
        line-height: 3rem;
        padding: 0 .5rem 0 2.5rem;
        background-position: .25rem center;
      }
    }

    .specs {
      background: none;
      min-height: auto;
    }
  }
  .home__cta {
    .container {
      background-image: none;
      background-color: $primary;
      padding: 2rem 1rem;
    }
  }
  .home__resultados {
    ul.bullets {
      width: 100%;
    }
  }
  .home__processo {
    .tabs_container {
      .tabs, .content {
        width: 100%;
      }

      .tabs a {
        display: inline-flex;
        width: auto;
        margin-bottom: .5rem;
        margin-right: 0;

        img {
          transform: rotate(-90deg);
        }

        &.active {
          border-radius: 0.5rem;

          img {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
  .home__ctabaixo {
    .col {
      width: 100%;
      max-width: 100%;
    }
  }
  .home__orcamento {
    form, .contatos {
      width: 100%
    }

    h2.ttl {
      span {
        font-size: 1.75rem;
      }
    }

    .form-cols {
      flex-direction: column;
      gap: 1rem;

      .col {
        width: 100%;
      }

    }
  }
  section, .home__resultados, .home__page, .home__processo, .home__ctabaixo, .home__orcamento {
    padding: 3rem 0;
  }
  .home__page {
    padding-top: 6rem;
  }
  #page__whats{
    .section__hero{
      height: auto;
      .container{
        display: flex;
        padding-top: 5rem;
        text-align: center;
        .col{
          .copy{
            width: auto;
          }
        }
        img{
          display: none;
        }
      }
    }
    .home__servicos{
      padding: 2rem 0;
      .container{
        .col{
          .specs{
            background-image: none;
            .specs__list{
              padding-top: 0;
              li{
                width: auto;
                line-height: 2.2rem;
              }
              li:nth-child(1){
                transform: translateX(0);
              }
              li:nth-child(3){
                transform: translateX(0);
              }
              li:nth-child(4){
                transform: translateX(0);
              }
              li:nth-child(5){
                transform: translateX(0);
              }
              li:nth-child(6){
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
    .home__cta{
      .container{
        img{
          display: none;
        }
        .col{
          width: auto;
          h2{
            text-align: center;
          }
          p{
            a{
              text-align: center;
              display: block;
            }
          }
        }
      }
    }
    .home__processo{
      .container{
        .col{
          text-align: center;
        }
      }
    }
    .section__duvidas{
      .container{
        .col{
          text-align: center;
          .copy{
            width: auto;
          }
        }
        img{
          display: none;
        }
      }
    }
  }
}
