#obrigado {
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
        }

        .ttl:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}